
.Data-Wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: hidden;
    height: 90vh;
    margin-top: 2rem;
    padding-bottom: 5em;
    padding-inline: 5px;
}

.Data-Header {
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-inline: 2em;
    padding-block: 3px;
    background-color: rgba(28, 36, 97, 0.6);
    border-radius: 5px;
}

.Header-Filter-Button {
    display: flex;
    color: gainsboro;
    font-size: 1.1em;
    align-items: center;
    border: 1px solid gainsboro;
    background-color: transparent;
    padding-block: 2px;
    padding-inline: 6px;
    border-radius: 5px;
    gap: 5px;
}

.Header-Filter-Button:hover {

    cursor: pointer;
    border: 2px solid #73e038;
    color: #73e038;
    margin-block: -1px;
    margin-inline: -1px;
    opacity: 1;
}

.Origin-Filter-Item:hover {
    cursor: pointer;
    border: 2px solid #73e038;
    margin-block: -1px;
    margin-inline: -1px;
}

.Data-Header-Body {
    display: flex;
    width: 20%;
    align-self: flex-start;
    padding-inline: 2em;
    padding-block: 3px;
    margin-top: 0.3em;
    background-color: rgba(17, 54, 140, 0.4);
    border-radius: 5px;
    animation: dropDown 300ms ease-out;
}

@keyframes dropDown {
    from{width: 5%; margin-top: 0}
    to{width: 20%; margin-top: 0.3em;}
}

.Origin-Filter-Item {
    font-size: 1.1em;
    background-color: rgba(211, 216, 224, .80);

    border-radius: 5px;
    border: 1px solid gray;
    padding: 3px 7px;
}

