

.Header-Wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 43px;
    color: gainsboro;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 20px;
    background: linear-gradient(rgba(28, 36, 97,0.7), rgba(28, 36, 97, 0.9)) ;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;

}





