

.Header-Wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 35px;
    color: gainsboro;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 20px;
    background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;

}





