
.ImportData-Wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: hidden;
    height: 90vh;
    margin-top: 4rem;
    padding-bottom: 5em;
}

.Import-Header {
    width: 60em;
    height: 2em;
    display: flex;
    flex-shrink: 3;
    background-color: rgba(28, 36, 97, 0.8);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid gainsboro;
    padding-inline: 15px;
    align-items: center;
}

.Import-Header-Text {
    color: gainsboro;
    font-size: 1.2rem;
}

.Import-Body {
    width: 60em;
    height: 3.5em;
    display: flex;
    background-color: rgba(17, 54, 140, 0.4);
    padding-inline: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    align-items: center;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    gap: 50px;

}

.Open-Icon {
    color: rgba(211, 216, 224, .90);
    font-size: 2.3rem;
    padding: 2px;
    transition: all ease-in-out 200ms;
    border: 2px solid gainsboro;
    border-radius: 8px;
    opacity: 0.8;

}

.Open-Icon:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid #73e038;
    color: #73e038;
    opacity: 1;
}

.File-Item {
    font-size: 1.4em;
    background-color: rgba(211, 216, 224, .80);
    max-width: 15em;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 3px 7px;
}

.Import-Preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60em;
    min-height: 45em;
    margin-top: 2em;
    background-color: rgba(17, 54, 140, 0.3);
    border-radius: 3px;
}

.Import-Preview-Header {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 60em;
    height: 3em;
    border-bottom: 2px solid gainsboro;
    background-color: rgba(28, 36, 97, 0.8);
    padding-left: 1em;
    padding-right: 1em;
    padding-block: 1px;
    gap: 20px;

}

.Import-Preview-Header span {

    color: rgba(211, 216, 224);
    font-weight: bold;

}

.Header-Button-Stack {
    margin-left: auto;
}


.Import-Preview-Body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 40em;
    margin-top: 3em;
    margin-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 0.3em;
    padding-top: 5px;
}

.Prev-DataItem-Container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;


}

.Prev-DataItem-Container:hover {
    cursor: pointer;
}

.Prev-DataItem-Container.Selected {
    opacity: .4;
}



.Prev-DataItem-Key-Container {
    display: flex;
    color: gainsboro;
    align-items: center;
    padding-left: 15px;
    min-height: 2em;
    max-height: 2em;
    max-width: 28em;
    min-width: 28em;
    background-color: rgba(22, 25, 46, 0.6);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 2px solid gainsboro;
    overflow-x: hidden;


}

.Prev-DataItem-Value-Container {
    display: flex;
    color: gainsboro;
    align-items: center;
    padding-left: 15px;
    min-height: 2em;
    max-width: 30em;
    min-width: 30em;
    background-color: rgba(22, 25, 46, 0.8);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-x: hidden;


}




