
.ImportData-Wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-top: 6rem;
}

.Import-Header {
    width: 50em;
    height: 2em;

    display: flex;
    background-color: rgba(12, 46, 99, 0.7);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid gainsboro;
    padding-inline: 15px;
    align-items: center;
}

.Import-Header-Text {
    color: whitesmoke;
    font-size: 1.2rem;
}

.Import-Body {
    width: 50em;
    height: 7em;
    display: flex;
    background-color: rgba(12, 46, 99, 0.6);
    padding-inline: 15px;
    align-items: center;
    gap: 50px;

}

.Open-Icon {
    color: rgba(211, 216, 224, .90);
    font-size: 3.8rem;
    transition: all ease-in-out 200ms;
}

.Open-Icon:hover {
    transform: scale(1.3);
    cursor: pointer;
    border-right: 1px solid rgba(54, 199, 56, 0.95);
}

.File-Item {
    font-size: 1.8em;
    background-color: rgba(211, 216, 224, .80);
    border-radius: 5px;
    border: 1px solid gray;
    padding: 3px 7px;
}

.Import-Preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50em;
    min-height: 35em;
    margin-top: 1em;
    background-color: rgba(12, 46, 99, 0.2);

    border-radius: 3px;
}

.Import-Preview-Header {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 50em;
    height: 2em;
    border-bottom: 2px solid gainsboro;
    background-color: rgba(12, 46, 99, 0.5);
    padding-left: 1em;
    gap: 20px;

}

.Import-Preview-Header span {
    color: rgba(211, 216, 224);
    font-weight: bold;

}

.Import-Preview-Body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 35em;
    margin-top: 3em;
    padding-left: 0.5em;
    padding-right: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 0.5em;
}

.Prev-DataItem-Container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 40px;
    border-radius: 10px;
    align-items: center;

}

.Prev-DataItem-Container:hover {
    cursor: pointer;

}

.Prev-DataItem-Key-Container {
    display: flex;
    height: 100%;
    min-width: 24em;
    max-width: 24em;
    min-height: 2em;
    max-height: 2em;
    align-items: center;
    background-color: rgba(22, 25, 46, 0.6);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 2px solid gainsboro;
    padding-left: 15px;
    color: gainsboro;
    overflow-x: hidden;

}

.Prev-DataItem-Value-Container {
    display: flex;
    min-height: 2em;
    max-width: 24em;
    min-width: 24em;
    background-color: rgba(22, 25, 46, 0.8);
    align-items: center;
    padding-left: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: gainsboro;
}




