
.ImportData-Wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 70%;
    padding-inline: 20%;
    margin-top: 2%;
}

.Import {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.Import-Header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(20, 25, 64, .8);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid gainsboro;
    padding-inline: 15px;

}

.Import-Header-Text {
    color: gainsboro;
    font-size: 1.2rem;
}

.Import-Body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: linear-gradient(45deg, rgba(20, 25, 64, .75), rgba(20, 25, 64, .85));
    padding-inline: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom: 2px solid gainsboro;
    gap: 30px;


}

.Open-Icon {
    color: rgba(211, 216, 224, .90);
    font-size: 2.3rem;
    padding: 2px;
    transition: all ease-in-out 200ms;
    border: 2px solid gainsboro;
    border-radius: 8px;
    opacity: 0.8;

}

.Open-Icon:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid #73e038;
    color: #73e038;
    opacity: 1;
}

.File-Item {
    font-size: 1.4em;
    background-color: rgba(211, 216, 224, .80);
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 3px 7px;
}

.Import-Preview {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background: linear-gradient(45deg, rgba(20, 25, 64, .6), rgba(20, 25, 64, .75));
    border-radius: 3px;
}

.Header-Button-Stack {
    margin-left: auto;
}


.Import-Preview-Body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 60vh;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    overflow-y: auto;
    gap: 0.3em;
    padding-top: 5px;

}

.Prev-DataItem-Container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Prev-DataItem-Container:hover {
    cursor: pointer;
}





.Prev-DataItem-Key-Container {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    color: gainsboro;
    align-items: center;
    padding-left: 1%;
    padding-block: .25%;
    background-color: rgba(22, 25, 46, 0.75);
    border-radius: 10px;




}

.Prev-DataItem-Key-Container.Selected {
    color: limegreen;
    opacity: 1;
}

.Prev-DataItem-Value-Container.Selected {
    color: limegreen;
    opacity: 1;
}



.Prev-DataItem-Value-Container {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    color: gainsboro;
    align-items: center;
    padding-left: 1%;
    padding-block: .25%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    background-color: rgba(22, 25, 46, 0.4);
    border-radius: 10px;



}




