
:root {
    --background: linear-gradient(90deg,rgba(141, 148, 196, .90),rgba(141, 148, 196, .40));
    --border-active-link: #5776d4;
    --bg-color-hover-active: rgb(174, 184, 214);
    --color-header-brand: rgba(78, 78, 237, 1);
    --color-header-icon: rgba(78, 78, 237, 0.90);
    --color-header-icon-hover: rgba(78, 78, 237, 1);
    --color-link-item: rgba(36, 53, 105, 0.8);
    --sidebar-width-collapsed: 50px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.Sidebar-Wrapper {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    padding: 10px 5px;
    width: 200px;
    height: 100vh;
    background: var(--background);
    transition: width 200ms ease-in-out;

}

.Sidebar-Wrapper.Collapsed {
    width: var(--sidebar-width-collapsed);
}

.Sidebar-Wrapper.Collapsed .Sidebar-Header {
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding-inline: 0;
    width: 45px ;
}

.Sidebar-Wrapper.Collapsed .Sidebar-Body {
    width: var(--sidebar-width-collapsed);
    padding-left: 3px;
    padding-right: 7px;
}

/* Overflow hidden because Sidebar can collapse */
.Sidebar-Header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 10px;
    background: rgba(141, 148, 196, .05);
    border-bottom: 2px solid lightgray;
    gap: 22px;
    overflow-x: hidden;
}

.Header-Brand {
    color: var(--color-header-brand);
    font-weight: bold;
    font-size: 1.7rem;
}

.Header-Icon {
    font-size: 2.4rem;
    color: var(--color-header-icon);
    transition: all 100ms ease-in-out;
}

.Header-Icon:hover {
    transform: scale(1.2);
    color: var(--color-header-icon-hover);
    cursor: pointer;
}

.Sidebar-Body {
    position: relative;
    display: flex;
    top: 100px;
    bottom: 50px;
    padding-left: 15px;
    padding-block: 5px;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    overflow-x: hidden;
}

.Sidebar-Body .Link {
    position: relative;
    display: flex;
    padding-right: 25px;
    padding-block: 5px;
    flex-direction: row;
    align-items: center;
    gap: 17px;
}

.Link-Icon {
    font-size: 1.7em;
    color: var(--color-link-item);
}

.Link-Text {
    font-size: 1.5em;
    color: var(--color-link-item);
    font-weight: bold;
}

.Link:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--border-active-link);
    border-top: 1px solid var(--border-active-link);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--bg-color-hover-active);
    margin-top: -1px;
    margin-bottom: -1px;

}

.LinkActive {
    border-bottom: 1px solid var(--border-active-link);
    border-top: 1px solid var(--border-active-link);
    border-right: 1px solid var(--border-active-link);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--bg-color-hover-active);
    margin-top: -1px;
    margin-bottom: -1px;
}
